@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Hanson Bold";
  src: url("../src/assets/Fonts/Hanson/Hanson-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Monument Extended Ultrabold";
  src: url("../src/assets/Fonts/Monument Extended Font/MonumentExtended-Ultrabold.otf")
    format("opentype");
  font-display: swap;
}
.carousel-image {
  @apply w-[345px] h-[345px] rounded-[60px] mix-blend-multiply contrast-100 mx-5;
}
